<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>ورود</title>

    <link rel="stylesheet" href="1-authorisation.css">
</head>
<body>
<div class="username-input">
    <label>
        :نام کاربری خود را وارد کنید
        <br> <input type="text">
    </label>
</div>

<div class="password-input">
    <label>
        :رمز عبور خود را وارد کنید
        <br> <input type="password">
    </label>
    <br>
</div>
<div class="login"><a href="2-survey-system.html">ورود به سامانه</a></div>

<div class="forgot-pass">
    <br>
    <a href="#">نام کاربری یا رمزعبور خود را فراموش کرده ام</a>
</div>

</body>
</html>